* 
{
    margin: 0px;
    font-family: Arial;
}

header
{
    background: black;
        
    padding-top: 14px;
    padding-bottom: 14px;
}

header > a
{
    color: gray;
    text-decoration: none;
}

header > .nav-brand
{
    font-size: 18px;
    margin-left: 70px;
}

header > .nav-link
{
    font-size: 14px;
    margin-left: 20px;
}

.main
{
    margin: 15px 70px 20px 70px;
}

.main > h1
{
    font-weight: normal;
    margin-bottom: 10px;
}

.main > ul
{
    font-size: 14px;
}

.main > ul > li
{
    margin-top: 5px;
}

.main > ul > li > a
{
    text-decoration: none;
}

.main > .calculations
{
    font-size: 14px;
    line-height: 140%;
}

footer 
{
    margin-left: 70px;
    margin-right: 70px;
    border-top: 1px solid lightGray;
    font-size: 14px;

    padding-top: 20px;
}
