*
{
	margin: 0px;	
	overflow: hidden;
}

body{
    background-color: black;
}

#veil
{
    position: fixed;
	bottom: 0vh;
	
	height: 100vh;
    width: auto;
	
	left: 50%;
	transform: translate(-50%, 0%);
	
	z-index: 999;
}

#wizard
{
	position: fixed;
}

#lamp
{
	position: fixed;
	
	height: 30vh;
    width: auto;
	
	top: 0px;
	left: 50%;
	transform: translate(-50%, 0%);
	
	z-index: 1;
}

#lampRope
{
	position: fixed;
	
	height: 30vh;
    width: auto;
	
	top: 0px;
	left: 50%;
	transform: translate(-50%, 0%);
	
	z-index: 2;
}

#lampDisperial
{
	position: fixed;
	
	height: 30vh;
    width: auto;
	
	top: 0px;
	left: 50%;
	transform: translate(-50%, 0%);
	
	z-index: 4;
}

#light
{
	position: fixed;
	
	height: 0px;
    width: 0px;
	
	top: 0px;
	left: 50%;
	transform: translate(-50%, -30%);
	
	border: 40vh solid transparent; 
	border-bottom: 80vh solid yellow;
	opacity: 0;
	
	z-index: 3;
}



