*
{
	font-size: 30px;
	font-family: Arial;
	margin: 0px;
}

.calculateBlock
{
	display: inline-block;
	
	margin: 20px;
	border: 5px solid steelBlue;
	padding: 10px;
}

#outputLine 
{
	display:inline-block;
	
	width: 390px;
	height: 70px;

	overflow: auto;

	border: 1px solid black;
}

#firstNum, #operation, #secondNum 
{
	
	float: right;

	font-size: 35px;
	margin: 15px 15px 15px 0px;
}

#operation, #secondNum
{
	display: none;
}

button 
{
	width: 100%;
	height: 100%;
}

table
{
	border-spacing: 10px;
}

td
{
	width: 70px;
	height: 70px;
}



