@{
    ViewData["Title"] = "Mockups";
}

<h1>Mockups</h1>
<ul type="disc">
    <li><a class="nav-link" asp-area="" asp-controller="Mockups" asp-action="Quiz">Quiz</a></li>
    <li><a class="nav-link" asp-area="" asp-controller="Mockups" asp-action="QuizResult">QuizResult</a></li>
</ul>

