@{
    ViewData["Title"] = "Home Page";
}

<h1>Form parameters parsing demo</h1>
<ul type="disc">
    <li><a class="nav-link" asp-area="" asp-controller="CalcService" asp-action="Manual">Manual parsing in single action</a></li>
    <li><a class="nav-link" asp-area="" asp-controller="CalcService" asp-action="ManualWithSeparateHandlers">Manual parsing in separate actions</a></li>
    <li><a class="nav-link" asp-area="" asp-controller="CalcService" asp-action="ModelBindingInParameters">Model binding (parameters)</a></li>
    <li><a class="nav-link" asp-area="" asp-controller="CalcService" asp-action="ModelBindingInSeparateModel">Model binding (separate model)</a></li>
</ul>

