@{
    ViewData["Title"] = "ManualWithSeparateHandlers";
}

<h1>ManualWithSeparateHandlers</h1>
<div class="calculations">
    <form method='post'>
        <input type='number' name='firstNum'/><br>
        <select name="operation">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select><br>
        <input type='number' name='secondNum'/><br>
        <input type='submit' value='Submit'/>
    </form>
</div>

